<footer>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
    <div class="container">
        <div class="row p20">
            {% if site.copyright.name %}
                <div class="col-md-4 text-center mt25">All rights reserved by <a target="_blank" href="{{site.copyright.link}}">{{site.copyright.name}}</a></div>
            {% endif %}

            <div class="col-md-4 text-center mt25" >
                Code is hosted <a href="https://github.com/statonlab/hardwoods_tripal_showcase">on Github </a>.
            </div>
        </div> 
    </div>
</footer>
