<div class="col-md-4 mt20">
        <div class="post-img">
           {% if page.img %}
            <img width="600" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
            {% else %}
            <img width="600" src="{{site.baseurl}}/images/{{site.default-image}}" alt="webjeda">
            {% endif %}
        </div>
        <div>
          {% if page.github %}
                        <div>
                            <a href="{{page.github}}">
                                <li class="social github"><i class="fa fa-github-square"></i></li>
                               See the code on Github

                            </a>
                        </div>
                            {% endif %}
                                  {%if page.see_live %}
                                  <div>
                            <a href="{{page.see_live}}">
                                <li class="social github">
                                <i class="fa fa-eye" aria-hidden="true"></i></li>
                        See the module working on HWG

                            </a>
                            </div>
                            {% endif %}

                            {% if page.zenodo_badge %}
                            {% if page.zenodo_url %}
                            <a href="{{page.zenodo_url}}">
                                <img class="social zenodo"
                                     src="{{page.zenodo_badge}}"
                                     alt="DOI"></a>
                            {% endif %}
                            {% endif %}

        </div>
            
        <br>

</div>